body{
    font-size: 16px;
  }

  h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
    font-weight: 600;
  }

  p{
    font-size: 3em;
  }

  ul{
    background-color: magenta;
  }

  li{
    font-style: italic;
    line-height: 2em;
    text-align: left;
    text-decoration: wavy;
    color: darkturquoise;
  }

  .favorite-color{
      background-color: aquamarine;
  }

  #yeahlow{
    background-color: yellow;
  }

  #redish{
    background-color: red;
  }

  #brownie{
    background-color: brown;
  }